{% extends "::base.html.twig" %}

{% block title %}RIAdvertBundle:Advert:List{% endblock %}

{%block stylesheets %}
    {% include 'RIAdvertBundle:Commun:bootstrap.html.twig' %}
{% endblock %}
{% block body %}
    {% include 'RIAdvertBundle:Commun:nav.html.twig' %}
     <div class="col-lg-push-1 col-md-10 col-sm-10 text-left contentp"> 

    <h1>Liste des annonces</h1>

    {%if list is not empty%}
        {% for advert in list %}
            <h3>{{ advert.title }}</h3>
            <div class="panel panel-default">
                <div class="panel-body"> 
                    {{ advert.description }}
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <div class="checkbox">                                    
                            <label><a  href="{{ path('ri_advert_get', {'id': advert.id}) }}"> Lire l'annonce  </a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <p>Il n'y a aucune annonce pour l'instant.</p>
    {% endif %}
<div class="navigation">
    {{ knp_pagination_render(list) }}
</div>


    {% include 'RIAdvertBundle:Commun:navright.html.twig' %}

    {% include 'RIAdvertBundle:Commun:foot.html.twig' %}

<script>
    $(function() {
    var knp = new KnpPaginatorAjax();

    knp.init({
        'loadMoreText': 'Load More', //load more text
        'loadingText': 'Loading..', //loading text
        'elementsSelector': '#elements', //this is where the script will append and search results
        'paginationSelector': 'ul.pagination', //pagination selector
    });
});
</script>
{% endblock %}
