
<div class="breadcrumb-wrapper">
        <div class="container">
          <div class="banner-title">
            <h2>Login / Sign Up</h2>
            <div class="line"> <span></span></div>
          </div>
          <ul class="inner-breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>Login / Sign Up</li>
          </ul>
        </div>
      </div>
      <!-- breadcrumb Wrapper End --> 
      <!-- Inner page Wrapper Start -->
      <div class="inner-page-wrapper registration-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
             <!--Login div-->
              <app-login> 

              </app-login>
            </div>
            <div class="col-sm-6">
             <app-register>
               
             </app-register> 
            </div>
          </div>
        </div>
      </div>
      <!-- Inner page Wrapper End --> 
      <!-- Footer styles Start -->
<!--

<h2>Authentification</h2>
<button class="btn btn-success" *ngIf="!authStatus" (click)="OnSignIn()">Se connecter</button>
<button class="btn btn-success" *ngIf="authStatus" (click)="OnSignOut()">Se déconnecter</button>-->