


  <!-- Header Start -->
  <header class="wow fadeInDown affix-top" data-offset-top="197" data-spy="affix" style="visibility: visible;">
      <div class="logo-wrapper"> 
          <!-- Logo -->
          <div class="container">
              <div class="row"> 
                  <!-- Logo -->
                  <div class="col-sm-12 col-md-3 hidden-xs"> 
                      <a routerLink="home"><img src="http://railsinfo.fr/img/Logo.png"  alt="railsinfo"></a> 
                  </div>
                  <!-- Navigation -->
                  <div class="col-sm-12 col-md-9">
                      <nav class="navbar navbar-default pull-right"> 
                          <!-- Brand and toggle get grouped for better mobile display -->
                          <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                              <a class="navbar-brand" routerLink="home"><img src="http://railsinfo.fr/img/Logo.png" alt="rails info"></a> </div>
                          <!-- Collect the nav links, forms, and other content for toggling -->
                          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav">
                                  <li routerLinkActive="active"><a routerLink="home">Acceuil</a></li>
                                  <li routerLinkActive="active"><a routerLink="about">À propos</a></li>
                                  <li routerLinkActive="active"><a routerLink="annonces">Liste des offres</a></li>
                                  <li routerLinkActive="active"><a routerLink="contact">Contactez-nous</a></li>
                                     

                                      <li *ngIf="authStatus" routerLinkActive="active" class="visible-xs"><a routerLink="profil">Profil</a></li>
                                      <li *ngIf="authStatus" routerLinkActive="active" class="visible-xs"><a (click)="OnSignOut()" >Déconnexion</a></li>
                                      <li *ngIf="!authStatus" routerLinkActive="active" class="visible-xs"><a routerLink="register" >Connexion</a></li>
                                      <li *ngIf="!authStatus" routerLinkActive="active" class="visible-xs"><a routerLink="register">Inscription</a></li>
                                    

                                      

                              </ul>
                          </div>
                          <!-- /.navbar-collapse -->
                        
                              <div *ngIf="authStatus" class="user"><a routerLink="profil"><img src="http://railsinfo.fr/img/images/user-icon.png" alt=""></a></div>
                              <div *ngIf="authStatus" class="login pull-right hidden-xs "> <a (click)="OnSignOut()">Déconnexion</a></div>

                              <div *ngIf="!authStatus" class="login pull-right hidden-xs "> <a routerLink="register">Inscription/Connexion</a></div>
                        
                      </nav>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- Header End --> 