<form [formGroup]="advertForm" (ngSubmit)="onSubmit(edit)">
  <div class="form-group">

    <label>
      Titre:
    </label>
    <input class="form-control" type="text" formControlName="title">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>
    <textarea class="form-control" formControlName="description"></textarea>
  </div>
  <div class="form-group">
    <label>
      Détail
    </label>
    <textarea class="form-control" formControlName="detail"></textarea>
  </div>
  <div class="form-group">
    <label>
      Type:
    </label>
    <select class="form-control" formControlName="type">
      <option *ngFor="let contrat of contrats" [value]="contrat.name">{{contrat.name}}</option>
    </select>
  </div>
  <div class="form-group">
    
    <label>
      Date début de contrat:
    </label>
    <input class="form-control" id="begin" type="date" formControlName="begin">
   
  </div>
  
  <div class="form-group">
  <label>
    Durée de contrat:
  </label>
  <input class="form-control" type="number" formControlName="duree">
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!advertForm.valid">Enregistrer la modification</button>
  <a name="" style="margin-left: 5px" class="btn btn-success"(click)="onView()" role="button">Visualiser</a>
  <a name="" style="margin-left: 5px" class="btn btn-warning"(click)="onReturn()" role="button">Retour</a>
  
</form>

<ng-template #edit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifier l'annonce</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Vous êtes sur de vouloir modifier l'annonce?</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Ok click')">Confirmer</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('cancel click')">Annuler</button>
  </div>
</ng-template>